body{
    margin: 0;
    // font-size: 13px;
    // font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.bold{
    font-weight: bold;
}
.text-muted{
    color: #999 !important;
}

$primary-color: rgb(29, 148, 124);

.inline-list{
    margin: 0;
    padding: 0;
    li{
        display: inline-block;
        padding: 10px 15px;
        cursor: pointer;
        color: #242424;
        a{
            color: #242424;
            text-decoration: none;
        }
    }
    li.nohover:hover{
        background-color: transparent;
        cursor: default;
    }
    .madewith a{
        color: #999 !important;
        text-decoration: underline;
    }
    li.float-right{
        float: right;
    }
    li.header-logo{
       font-weight: bold; 
       padding-left: 10px !important ;
    }
    li.active {
        color: $primary-color;
        border-bottom: 1px solid $primary-color;
        background-color: #efefef;
    }
    li:hover{
        background-color: #efefef;
    }
}
.hr{
    border-bottom: 1px solid #efefef;
}

.data-view{
    height: calc(100vh - 60px);
    // overflow-y: scroll;
    background-color: #efefef;
    padding: 10px;
    textarea{
        height: calc(100% - 40px);
        width: 100%;
        font-size: 12px;
        resize: none;
    }
    button {
        background-color: $primary-color;
        color: white;
        padding: 6px 15px;
        border-color: $primary-color;
        cursor: pointer;
        margin-top: 5px;
    }
}



.model-view{
    height: calc(100vh - 60px);
    // overflow-y: scroll;
    // background-color: #efefef;
    padding: 10px;

    .col-left, .col-right{

        height: 100%;
        display: inline-block;
        float: left;
    }
    .col-left{
        width: calc(40% - 10px);
    }
    .col-right{
        width: calc(60% - 10px);
        margin-left: 15px;
    }
    textarea{
        width: 100%;
        font-size: 12px;
        resize: none;
        height: calc(100% - 40px);

    }
    button {
        background-color: $primary-color;
        color: white;
        padding: 6px 15px;
        border-color: $primary-color;
        cursor: pointer;
        margin-top: 5px;
    }
}