
#container {
    border: 1px solid #efefef;
    position: relative;
}

.g6-component-toolbar {
    width: calc(100% - 10px);
    border-radius: 0 !important;
    top: -1px;
    left: -1px;
    padding: 2px 5px;
    max-height: 30px;
    background: #efefef;
}