[data-canvas-theme="dark"] {
  --canvas-bg: #111111;
  --canvas-text: #ffffff;
  --canvas-node-bg: #343434;
  --canvas-node-text: #ffffff;

  --canvas-node-selected-border: #6aadeb;
  --canvas-border: #4d4d4d;

  --canavas-header-bg: #212121;

  --canvas-handle-color: #8a8a8a;

  --canvas-node-field-hightlight-bg:rgb(86, 101, 105);
  --canvas-node-field-hightlight-text: #fff;

  --canvas-node-shadow:  rgb(51 51 51 / 70%);

}

[data-canvas-theme="light"] {
  --canvas-bg: #ffffff;
  --canvas-text: #111111;
  --canvas-node-bg: #efefef;
  --canvas-node-text: #111111;

  --canvas-node-selected-border: #6aadeb;
  --canvas-border: #cacaca;

  --canavas-header-bg: #cfcfcf;

  --canvas-handle-color: #ccc;

  --canvas-node-field-hightlight-bg: rgb(86, 101, 105);
  --canvas-node-field-hightlight-text: #fff;

  --canvas-node-shadow:  rgb(232 232 232 / 70%);

}




// .react-flow  {
//   background-color: #111 !important;

//   .react-flow__node{
//     background-color: #343434 !important;
//     color: white !important;
//     border: 1px solid #4d4d4d !important;
//     border-radius: 2px;

//     .nodeBody {

//       .bodyHeader {
//         color: #111;
//       }
//       .io{
//         border-bottom: 1px solid #565656 !important

//       }
//     }
//   }
// }
// .react-flow.light-theme {
//   background-color: #fff !important;

// //   .react-flow__node{

// //   }
// }

.react-flow {


  .react-flow__node.react-flow__node-CommentNode{
    border-top: 1px;
  }
  .react-flow__node.selected {
    border-color: var(--canvas-node-selected-border) !important;
    //  box-shadow: 0 14px 28px rgba(65, 88, 203, 0.25), 0 10px 10px rgba(65, 88, 203.22);
  }
  .react-flow__node {
    background-color: var(--canvas-node-bg) !important;
    color: var(--canvas-node-text) !important;
    border-radius: 2px;
    border: 1px solid var(--canvas-border);
    border-top:  3px solid var(--canvas-border);
    border-radius: 0;
    box-shadow: 2px 4px 0px 1px var(--canvas-node-shadow);



    .react-flow__handle {
      width: 0px !important;
      height: 0px !important;
      margin: auto;
      border: none !important;
      background: var(--canvas-handle-color) !important;
      // background-color: var(--canvas-node-bg);

      // border-radius: 2px !important;
      // border: 1px solid #ddd !important;
      /* box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 2px 1px -1px; */
      // display: none !important;
      border-radius: 0 !important;

    }


    // .show-handles{
    //   .react-flow__handle{
    //     border-color: red;
    //   }
    // }
 
    .customNode {
      display: flex;
      flex-direction: column;
      // border-top: 3px solid var(--canvas-border) !important;
      // border: 1px solid var(--canvas-border) !important;

      transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      /* // boxShadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
      // border: 1px solid #bbb;
      font-size: 12px;
      // width: 180px;
      height: 100%;

      // .left {
      //   left: -8px
      // }

      // .right {
      //   right: -8px
      // }

      .floatLeft{
        float: left;
      }
      .floatRight{
        float: right;
      }



      // .node-shadow{
      //   box-shadow: 2px 4px 0px 1px var(--canvas-node-shadow) !important;
      // }


      .nodeHeader {
        // border-bottom: 1px solid var(--canvas-border);

        .nodeName {
          position: relative;
          padding: 8px 10px;
          flex-grow: 1;
          color: #343434;
          // background-color: #eee;
          // border-bottom: 1px solid #ddd;
        }

        .nodeContainerRightHandle {
          position: absolute !important;
          top: 10px !important;
          /* right: 0 !important; */
        }

        .nodeContainerLeftHandle {
          position: absolute !important;
          top: 10px !important;
          /* left: 0 !important; */
        }
      }

      .nodeBody {
        padding: 0px 0px;

        .bodyHeader {
          padding: 8px 10px;
          flex-grow: 1;
          // background-color: #eee
        }

        .nodeField {
          cursor: pointer !important;

          .fieldDataType {
            float: right;
            font-size: 10px;
            color: #999
          }
        }

        .nodeField.highlight {
          background-color: var(--canvas-node-field-hightlight-bg);
          color: var(--canvas-node-field-hightlight-text);
        }

        .nodeField.inactive {
          opacity: 0.2;
        }

        .io {
          position: relative;
          padding: 8px 10px;
          flex-grow: 1;
          border-bottom: 1px solid var(--canvas-border)
        }

        .textLeft {
          text-align: left
        }

        .textRight {
          text-align: right
        }
      }
    }
  }


}


.react-flow__watermark {
  display: none !important;
}