


.react-flow.dark-theme {
  background-color: #111 !important;

  .react-flow__node{
    background-color: #343434 !important;
    color: white !important;
    border: 1px solid #4d4d4d !important;
    border-radius: 2px;

    .io{
      border-bottom: 1px solid #565656 !important

    }
  }
}
.react-flow.light-theme {
  background-color: #fff !important;

//   .react-flow__node{

//   }
}


.customNode {
  display: flex;
  flex-direction: column;
  // background-color: #fff;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  /* // boxShadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
  // border: 1px solid #bbb;
  font-size: 12px;
  width: 180px;

  // .left {
  //   left: -8px
  // }

  // .right {
  //   right: -8px
  // }

  .handle {
    width: 1px !important;
    height: 1px !important;
    margin: auto;
    // background: #ddd !important;
    // border-radius: 2px !important;
    // border: 1px solid #ddd !important;
    /* box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 2px 1px -1px; */
  }

  .nodeHeader {
    .nodeName {
      position: relative;
      padding: 8px 10px;
      flex-grow: 1;
      // background-color: #eee;
      // border-bottom: 1px solid #ddd;
    }


    .nodeContainerRightHandle {
      position: absolute !important;
      top: 10px !important;
      /* right: 0 !important; */
    }

    .nodeContainerLeftHandle {
      position: absolute !important;
      top: 10px !important;
      /* left: 0 !important; */
    }

  }

  .nodeBody {
    padding: 0px 0px;

    .bodyHeader {
      padding: 8px 10px;
      flex-grow: 1;
      background-color: #eee
    }

    .nodeField {
      cursor: pointer !important;

      .fieldDataType {
        float: right;
        font-size: 10px;
        color: #999
      }

    }

    .nodeField.highlight {
      background-color: rgb(89, 101, 105);
      color: #fff;
    }

    .nodeField.inactive {
      opacity: 0.2;
    }

    .io {
      position: relative;
      padding: 8px 10px;
      flex-grow: 1;
      border-bottom: 1px solid #efefef
    }

    .textLeft {
      text-align: left
    }

    .textRight {
      text-align: right
    }

  }
}

.selected {
  border-color: blue;
  //  box-shadow: 0 14px 28px rgba(65, 88, 203, 0.25), 0 10px 10px rgba(65, 88, 203.22);
}